body {
    background-image:
    /* add the g at the end of .jpg */
    url('https://d3d0lqu00lnqvz.cloudfront.net/media/media/ef92c98f-c0b7-410c-bc3e-d7cb7e9cc5f3.jpg')
    
;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
table, th, td{
    border: 3px solid red;
    background-color: ;
     color: rgb(255, 255, 255);
      
}
h1{
    color: yellow;
}
iframe{
    opacity: 0.8;
}
form {
    background-color: rgb(231, 98, 120);
    color: yellow;
    }
    p{
        color: yellow;
    }
    table,th,td{
border: 3px solid white;
    }